<%= form_with(model: article) do |form| %>
<% if article.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

  <ul>
    <% article.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-group mb-2">
  <%= form.label :title %>
  <%= form.text_field :title, class:"form-control", required: true %>
</div>

<div class="form-group mb-2">
  <%= form.label :content %>
  <%= form.rich_text_area :content, required: true %>
</div>
<% if article.photo.attached? %>
<h4 class="mt-4">Thumbnail:</h4>
<%= image_tag(article.photo, style:"width: 200px; height: 200px; display: block;") if article.photo.attached? %>
<% end %>
<div class="input-group my-3">

  <div class="custom-file">
    <%= form.file_field :photo, class: "custom-file-input" %>
    <label class="custom-file-label" for="image">Upload thumbnail</label>
  </div>
</div>

<div class="actions mb-2">
  <%= form.submit class:"btn btn-primary" %>
</div>
<% end %>

<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>