<div class="row" id="all-articles">
  <% if @articles.blank? %>
    <span style="font-size: 20px;">No articles were found..</span>
  <% else %> 
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
          <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
              efficiently about what's most interesting in this post's contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">Featured post</a>
                </h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                  additional content.</p>
                <a href="#">Continue reading</a>
              </div>
              <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb"
                alt="Card image cap">
            </div>
          </div>
          <div class="col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-success">Design</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">Post title</a>
                </h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                  additional content.</p>
                <a href="#">Continue reading</a>
              </div>
              <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb"
                alt="Card image cap">
            </div>
          </div>
        </div>
  <% @articles.each do |article| %>


  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12  my-2">
    <div class="card">
      <%= link_to article_path(article.id) do %>
      <%= image_tag(article.photo, class:"card-img-top", style:"max-height: 150px;") if article.photo.attached? %>
      <% end %>
      <div class="card-body">

        <%= link_to user_path(article.user) do  %>
        <% if article.user.photo.attached? %>
        <%= image_tag(article.user.photo, class:"profile-image") if article.user.photo.attached? %>
        <% elsif article.user.icon_url %>
        <%= image_tag(article.user.icon_url, class: "profile-image") %>
        <% else %>
        <%= image_tag('placeholder-image.jpg', class:"profile-image") %>
        <% end %>

        <strong class="p-2 author-name"> <%= article.user.name || 'Neznan avtor' %> </strong>
        <% end %>

        <h5 class="card-title mt-3 mb-2"> <%= article.title %> </h5>
        <p class="my-2 card-text"><%= truncate(strip_tags(article.content.to_s), length: 60) %></p>
        <%= link_to 'Show', article, class:"btn btn-dark btn-article my-2" %>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated <%= time_ago_in_words(article.updated_at) %> ago</small>
      </div>
    </div>
  </div>
  <% end %>
  <% end %> 
</div>

<a href="<%= new_article_path %>" class="btn btn-article btn-primary my-2">New Article <%= fa_icon "plus" %></a>
<!-- <%= link_to 'New Article', new_article_path, class:"btn btn-article btn-primary my-2" %> -->