<div class="row justify-content-center my-4" id="single-article">
  <div class="col-12 col-xl-6 col-lg-8 ">
    <div>
      <h2 class="title my-2"> <%=@article.title%> </h2>
      <div class="my-4 row justify-content-between align-items-center">
        <div class="col-9">
          <%= link_to user_path(@article.user) do  %>
          <% if @article.user.icon_url %>
          <%= image_tag(@article.user.icon_url, class:"profile-image") %>
          <% else %>
          <%= image_tag('placeholder-image.jpg', class:"profile-image") %>
          <% end %>
          
          <strong class="p-2 author-name"> <%= @article.user.name || 'Neznan avtor' %> </strong>
          <% end %> 
        </div>
        <div class="col-3 d-flex justify-content-end align-items-center">
          <% if @article.bookmarked?(current_user) %>
          <%= link_to remove_bookmark_path(@article), class: "mx-2", method: "delete" do %>
          <i class="fas fa-bookmark article-icon"></i>
          <% end %>
          <% else %>
          <%= link_to bookmark_path(@article), class: "mx-2", method: "put" do %>
          <i class="far fa-bookmark article-icon"></i>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%= image_tag(@article.photo, class:"article-image") if @article.photo.attached? %>
    <p class="my-2"><%= @article.content %></p>
    <% if user_signed_in? %>
    <% if @article.liked?(current_user) %>
    <%= link_to remove_like_path(@article), class: "mx-2", method: "delete" do %>
    <i class="fas fa-heart article-icon"></i>
    <% end %>
    <% else %>
    <%= link_to like_path(@article),  class: "mx-2", method: "put" do%>
    <i class="far fa-heart article-icon"></i>
    <% end %>
    <% end %>

    <%= commontator_thread(@article) %>
    <% end %>

    <%= display_show_article_links(@article) %>
  </div>
</div>
