<div class="row justify-content-center align-content-center">
  <div class="col-12 col-xl-6 col-lg-8 col-md-8"> 
    
    <span class="title page-title text-center d-block mb-3">Sign in</span>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
      <div class="form-group mb-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="form-group mb-2">
        <%= f.label :password %><br />
        <%= f.password_field :password, class:"form-control", autocomplete: "current-password" %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="form-group mb-2">
          <%= f.check_box :remember_me, class:"form-check-input" %>
          <%= f.label :remember_me, class:"form-check-label" %>
        </div>
      <% end %>
    
      <div class="my-3 ">
        <%= f.submit "Log in", class:"btn btn-primary btn-block text-center" %>
      </div>
    <% end %>

    <hr class="divider my-5">
    
    <div class="row">
      <div class="col-12 col-xl-6 col-lg-6 col-md-6">
        <%= button_to user_facebook_omniauth_authorize_path, class: "btn btn-primary btn-block", :method => :post do %>
          <span><i class="fab fa-facebook mx-2"></i>Sign in with Facebook</span>
        <% end %> 
      </div>
      <div class="col-12 col-xl-6 col-lg-6 col-md-6">
        <%= button_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-light btn-block", :method => :post do %>
          <span><i class="fab fa-google mx-2"></i>Sign in with Google</span>
        <% end %> 
      </div>
    </div>
    
    
    <!-- <%= render "devise/shared/links" %> -->
  </div>
</div>
